name: Build Fabric Mod

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Java
      uses: actions/setup-java@v3
      with:
        java-version: 21
        distribution: temurin

    - name: Make gradlew executable
      run: chmod +x ./gradlew

    - name: Build Mod Jar
      run: ./gradlew jar --no-daemon

    - name: Upload Mod Jar
      uses: actions/upload-artifact@v4
      with:
        name: pvpbot-jar
        path: build/libs/*.jar
