name: Build Fabric Mod

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Java
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '21'
      - name: Grant execute for gradlew
        run: chmod +x ./gradlew
      - name: Build Mod
        run: ./gradlew jar --no-daemon
      - name: Upload Mod Jar
        uses: actions/upload-artifact@v3
        with:
          name: pvpbot-jar
          path: build/libs/*.jar
